:root {
  --page-bg: #23252c;
  --text: #b6b9b9;
  --title: #fff;
  --btn-text: #374151;
  --blue: #5093e2;
  --position: #f3bf99;
  --card-bg: #1a1b21;
  --footer: #161619;
  --footer-icon-color: #918e9b;
}
/* **************************************** 
COMMENT: utility and setup   
***************************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: var(--page-bg);
  padding: 1rem;
}
h1,
h2,
h3 {
  color: var(--title);
}

p {
  color: var(--text);
}
a {
  text-decoration: none;
}

/* **************************************** 
COMMENT: app   
***************************************** */
.container {
  max-width: 400px;
  background: var(--card-bg);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.profile-picture {
  height: 340px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.info-header {
  padding: 24px 30px;
  text-align: center;
  display: grid;
  gap: 10px;
}
.name {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
}
.post {
  color: var(--position);
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
}
.website-link {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #f5f5f5 !important;
}

.info-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px 20px 30px;
  gap: 1rem;
}
.info-actions a {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}
.info-actions a:nth-child(1) {
  background: #fff;
  color: var(--btn-text);
}
.info-actions a:nth-child(2) {
  background: var(--blue);
  color: #fff;
}
.main {
  margin-top: 10px;
  margin-bottom: 24px;
  padding: 20px 30px;
  display: grid;
  gap: 2rem;
}
.block-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.block-para {
  font-weight: light;
  font-size: 14.24px;
  line-height: 150%;
  color: var(--text) !important;
}
/* About */
.about {
  display: grid;
  gap: 8px;
}

/* interests */
.interests {
  display: grid;
  gap: 8px;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px !important;
  padding: 20px;
  background: var(--footer);
}
footer svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px;
  background: var(--footer-icon-color);
  stroke: var(--footer);
  fill: var(--footer);
  border-radius: 4px;
}
